header {
  padding: .5rem;
  width: 100%;
  background-color: #00796b;
  height: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .button {
    background-color: #48a999;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;

    i::before, span {
    line-height: 1rem;
    font-size: 1rem;
    }
  }
}

.select {
  width: 100%;
  min-height: 2.5rem;
}

.container {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 5rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  .charts {
    padding: 2px 8px;
  }

  #map {
    background-color: gold;
    min-width: 33%;
    max-width: 100%;
    flex-grow: 1;
    height: 100%;
  }
}
