<header>
  {{title}}
</header>
<div class="container">
  <div class="mapInfo">
    <app-territory-selection
      [departamentos]="departamentos"
      [provincias]="provincias"
      [distritos]="distritos"
      (territoryInfo)="lookInMap($event)"></app-territory-selection>
    <h2>Departamentos</h2>
    <app-territory-chart [territory]="departamentos"></app-territory-chart>
    <h2>Provincias</h2>
    <app-territory-chart [territory]="provincias"></app-territory-chart>
    <h2>Distritos</h2>
    <app-territory-chart [territory]="distritos"></app-territory-chart>
  </div>
  <div #map id="map"></div>
</div>
