<header>
  <span>
    <i class="icon-map"></i> {{title}}
  </span>
  <div class="button" (click)="toogleTables()">
    <i class="icon-document-table"></i>
    <span>{{ showTables ? 'Ocultar' : 'Mostrar' }} tablas</span>
  </div>
</header>
<app-territory-selection
  class="select"
  [departamentos]="departamentos"
  [provincias]="provincias"
  [distritos]="distritos"
  (territoryInfo)="lookInMap($event)"></app-territory-selection>
<div class="container">
  <div *ngIf="showTables" class="charts">
    <app-territory-chart [title]="'Departamentos'" [territory]="departamentos"></app-territory-chart>
    <app-territory-chart [title]="'Provincias'" [territory]="provincias"></app-territory-chart>
    <app-territory-chart [title]="'Distritos'" [territory]="distritos"></app-territory-chart>
    <a class="source" href="https://github.com/heberqc/ubigeo-maps" target="_blank" rel="noopener noreferrer"><i class="icon-map2"></i> Source code</a>
  </div>
  <div #map id="map"></div>
</div>
