<div>
  <label>
    <span>Departamento:</span>
    <select (change)="onDepartamento($event.target.value)">
      <option disabled selected value> -- Selecciona un departamento -- </option>
      <option *ngFor="let dep of departamentos" [value]="dep.name">{{dep.name}}</option>
    </select>
  </label>
  <label>
    <span>Provincia:</span>
    <select (change)="onProvincia($event.target.value)">
      <option disabled selected value> -- Selecciona una provincia -- </option>
      <option *ngFor="let prov of filteredProvincias()" [value]="prov.name">{{prov.name}}</option>
    </select>
  </label>
  <label>
    <span>Distrito:</span>
    <select (change)="onDistrito($event.target.value)">
      <option disabled selected value> -- Selecciona un distrito -- </option>
      <option *ngFor="let dist of filteredDistritos()" [value]="dist.name">{{dist.name}}</option>
    </select>
  </label>
</div>
